/*******************************************************************************
 * Sample for a Dynatree custom stylesheet.
 * This is expected to be included after the standard ui.dynatree.css, thus
 * overridung the defaults.
 */

span.dynatree-icon {
    background-image: none;
}

.dynatree-has-children span.dynatree-icon {
    background-image: none;
    background-position: 0 1;
}

.dynatree-ico-c span.dynatree-icon:before  /* Collapsed Folder */
{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	color: transparent;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;		
	content: "\e022";
	/*background-image: none;*/
	background-image: url("paper.png");

}

.dynatree-ico-cf span.dynatree-icon:before  /* Collapsed Folder */
{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	color: transparent;
	
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;		
	content: "\e117";
	background-image: url("file.png");
	
}

.dynatree-ico-ef span.dynatree-icon:before  /* Expanded Folder */
{
	background-image: url("file.png");
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	color: transparent;	
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;	
	/*background-image: none;*/
	content: "\e118";
	color: transparent;
}


/*******************************************************************************
 * Node titles
 */

span.dynatree-has-children a
{
	/*font-style: oblique;*/
}

span.dynatree-selected a
{
	color: green;
	font-style: italic;
}

span.dynatree-active a,
span.dynatree-active a:hover
{
	/*border: 1px solid maroon;*/
	/*background-color: #FAD8F0 !important; /* reddish */
}


/*******************************************************************************
 * Custom node classes (sample)
 */

span.custom1 a
{
	background-color: #ffffbb;
	color: maroon;
}
span.custom1 span.dynatree-icon
{
	background-position: 0 0;
	background-image: url("customDoc2.gif");
}

span.custom2 a
{
	font-weight: bold;
	background-color: silver;
	color: navy;
}
span.custom2 span.dynatree-icon
{
	background-position: 0 0;
	background-image: url("folder_page.gif");
}
