{% extends "templates/questiondesign.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}题目管理{% endblock %}
{% block css %}
    
{% endblock %}
{% block script1 %}

{% endblock %}
{% block link %}
<div style="width:100%;height:80px;">
  <a href="/index/"><img src='/statics/images/Left_Round.png'  style="padding-bottom: 8px;"/></a>&nbsp; 
  <span style="font-size:28px;color:#fff;">基础题</span>
</div>
{% endblock %}

{% block content1 %}

<form id='questionform' action="/questions/choose/" method='get' style="position: relative; ">
 {% csrf_token %}
 <div class="bs-docs-section">
  <table width="100%">
    <tr>
      <td >
        <div style="text-align:left;">
         
          <button type="button" class="btn btn-primary" data-target="#myModal" data-toggle="modal" title="添加题目" onclick='mclear()'><span class="glyphicon glyphicon-plus"></span></button>
          <button type="button" class="btn btn-primary disabled"  onclick='edit()' title="编辑题目" data-toggle="modal" id='editsuccess'><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button"  onclick='details()'   title="题目详情" data-toggle="modal" class="btn btn-primary disabled" id='detailsuccess'><span class="glyphicon glyphicon-info-sign"></span></button>
          <button id="btndel" type="button" class="btn btn-danger disabled" title="删除题目" onclick='submitdelformedit()'><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </td>
      <td align="right">
        <div style="text-align:right;">
          <input id='querytext' name='querytext'  value="{{queselect}}" placeholder="请输入编号、标题关键字" type='text' class="form-control topself_input" style="width:185px; display:inline; "/>
          <button id="btnquery" type="submit" class="btn btn-danger" formaction="/questions/choose/" title="查找题目"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="panel-body" style="padding-left:0px; padding-right:0px;">
    <!-- Glyphicons
    ================================================== -->
    <table  id="lsque" class="table table-striped topsec_tabletop table-hover" data-selid="0" >
      <tr>
        <th>编号</th>
        <th>标题</th>
        <th>分值</th>
        <th>出题人</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
      </tr>
      {% for question in questionls.object_list %}
      <tr  id="{{question.id}}" >
        <td>{{question.qid}}</td>
        <td>{{question.qtitle}}</td>
        <td>{{question.qscore}}</td>
        <td>{{question.teacherid.teaname}}</td>
        <td>{{question.createtime|date:"Y-m-d H:i:s"}}</td>
        <td>{{question.edittime|date:"Y-m-d H:i:s"}}</td>
      </tr>
      {% endfor %}   
    </table>
      <div id='flickr1' class="flickr">
        <input type="hidden" name="flickr1_current" id="flickr1_current" value="{{page}}" />
        <input type="hidden" name="flickr1_total" id="flickr1_total" value="{{page_long}}" />
        <input type="hidden" name="flickr1_querytext" id="flickr1_querytext" value="{{querytext}}" />
      </div>

   </div>
</form>

<form  id='chooseaddform' action="/questions/chooseadd/" enctype="multipart/form-data" method='post'>
  {% csrf_token %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog" style="width:1000px">
        <div class="modal-content" style="width:950px; ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">添加题目</h3>
          </div>

  <div>
     <div>
      <table class="table topsec_tabletop" id='chooseaddtable'>
       <tr>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目编号：</td>
                <td style="width:370px; ">
                  <input id='qid' name='qid' type='text' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" required="required" maxLength="20" onchange="checkqid()" onkeyup=""  class="form-control topself_input"/>
                </td>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目标题：</td>
                <td style="width:370px; ">
                  <input id='qtitle' name='qtitle' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" type='text' required="required" maxLength="20" class="form-control topself_input" />
                </td>
              </tr>             
               <tr >
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目分值：</td>
                <td style="width:370px; ">
                 

                  <input id='qscore' name='qscore' type='text' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" required="required" maxLength="30"  onchange="checkscore()" class="form-control topself_input"/>
                </td>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>选项数量：</td>
                <td style="width:370px; ">
                   <input id='itemnumber' onpaste="return false;" style="ime-mode:disabled" name='itemnumber'  maxLength="1" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" placeholder="只能输入大于等于2小于等于8的数字" type='text'  required="required" onchange='additem()'
  onkeypress="return checkspecial(event);" class="form-control topself_input"/>
  <!-- <input id='itemnumber' type="number" class="form-control topself_input" step="1" name="itemnumber" min="2" max="8" onchange='additem()' /> -->
                </td>
              </tr>    
               <tr id='lasttr'>
                <td style="width:130px; text-align:right;  vertical-align:middle;"><font color="#FF0000">*</font>题目内容：</td>
                <td colspan=2>
                <input id='choosecontent' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" name='choosecontent' maxLength="50" type='text'  required="required" class="form-control topself_input"/>
                </td>
                <td><input  type='file'  id='addpic' name='addpic' accept='image/*' onchange='fileSelected(this);selectFileType(this)'/></td>
              </tr>         
              
              </table>
            </div>
            <div class="modal-footer">
            <!-- <button id="hidebtn" type="submit" hidden>kkk</button> -->
            <button class="btn btn-default" data-dismiss="modal" type="button" title='取消'><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-primary" id="btnaddski" type="submit"  onclick="return checkb()" title='保存'><span class="glyphicon glyphicon-floppy-save" ></span></button>
            <button class="btn btn-default"  type="button" onclick='mclear()' title='重置'><span class="glyphicon glyphicon-retweet"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>


<form  id='chooseeditform' enctype="multipart/form-data" action="/questions/chooseedit/" method='post'>
  {% csrf_token %}
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:1000px">
      <div class="modal-content" style="width:950px; ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">编辑题目</h3>
        </div>

    <div>
     <div>
      <table class="table topsec_tabletop" id='chooseedittable'>
        <tr>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目编号：</td>
                <td style="width:370px; ">
                  <input id='qidedit' name='qid' type='text'  required="required" maxLength="20" onchange="checkqidedit()"class="form-control topself_input" readonly/>
                </td>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目标题：</td>
                <td style="width:370px; ">
                  <input id='qtitleedit' name='qtitle' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" type='text' required="required" maxLength="20" class="form-control topself_input"  />
                </td>
              </tr>             
               <tr >
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>题目分值：</td>
                <td style="width:370px; ">
                  <input id='qscoreedit' name='qscore' type='text' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" required="required" maxLength="30" onchange="checkscoreedit()" class="form-control topself_input"/>
                </td>
                <td style="width:130px; text-align:right; vertical-align:middle;"><font color="#FF0000">*</font>选项数量：</td>
                <td style="width:370px; ">
                   <input id='itemnumberedit' name='itemnumber' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" maxLength="1" onpaste="return false;" style="ime-mode:disabled" type='text'  required="required" placeholder="只能输入大于2小于8的数字" onkeypress="return checkspecial(event);" onchange='additemedit()' class="form-control topself_input"/>
                </td>
              </tr>    
               <tr id='lasttredit'>
                <td style="width:130px; text-align:right;  vertical-align:middle;"><font color="#FF0000">*</font>题目内容：</td>
                <td colspan=2>
                <input id='choosecontentedit' onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" name='choosecontent' maxLength="50" type='text'  required="required" class="form-control topself_input"/>
                </td>
                <td>
                  <div style="display: flex;">
                      <input  type='file' id='editpic' name='editpic'  style="width: 160px" accept='image/*' onchange='fileSelected(this);selectFileType(this)'/>
                  </div>
                </td>
              </tr>         
              </table>
              <input id='choid' name='queid' type='hidden'/>
             </div>    
            <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button" title='取消'><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-primary" id="btneditcho" type="submit" title='保存' onclick='return submitformedit()'><span class="glyphicon glyphicon-floppy-save"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>

<form  id='choosedetailform'  method='post'>
  {% csrf_token %}
  <div class="modal fade" id="chooseDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:1000px">
      <div class="modal-content" style="width:950px; ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">题目详情</h3>
        </div>

  <div>
   <div>
    <table class="table topsec_tabletop" id='choosedetailtable'>
      <tr>
              <td style="width:130px; text-align:right; vertical-align:middle;">题目编号：</td>
              <td style="width:370px; ">
                <input id='qiddetail' name='qid' type='text'   maxLength="20"  class="form-control topself_input" readOnly/>
              </td>
              <td style="width:130px; text-align:right; vertical-align:middle;">题目标题：</td>
              <td style="width:370px; ">
                <input id='qtitledetail' name='qtitle' type='text'  maxLength="20" class="form-control topself_input" readOnly/>
              </td>
            </tr>             
             <tr >
              <td style="width:130px; text-align:right; vertical-align:middle;">题目分值：</td>
              <td style="width:370px; ">
                <input id='qscoredetail' name='qscore' type='text'  r maxLength="30" class="form-control topself_input" readOnly/>
              </td>
              <td style="width:130px; text-align:right; vertical-align:middle;">选项数量：</td>
              <td style="width:370px; ">
                 <input id='itemnumberdetail' name='itemnumber' maxLength="2" type='text' class="form-control topself_input" readOnly/>
              </td>
            </tr>    
             <tr id='lasttrdetail'>
              <td style="width:130px; text-align:right;  vertical-align:middle;">题目内容：</td>
              <td colspan=3>
                <div style="display: flex;">
                  <input id='choosecontentdetail' name='choosecontent' maxLength="50" type='text'  class="form-control topself_input" readOnly/>
                </div>
              </td>
            </tr>         
            </table>
            <input id='choiddetail' name='queid' type='hidden'/>
           </div>    
          <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button" title='关闭'><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript">
  setfontcolor("choctrl");
  setbackgroundcolor("choose");
  setTableEvent("lsque", true);
$(function()
  {
    var total_page=parseInt($('#flickr1_total').val());
    var current_page=parseInt($('#flickr1_current').val());
    var flickr1_querytext=$('#flickr1_querytext').val();

    var dic = new Array(); 
    if(flickr1_querytext!=''){
      dic["querytext"] = flickr1_querytext;
    }
    document.getElementById('flickr1').innerHTML=setflickr(total_page,current_page,dic);
  });

function setTableEvent(tableid, singleSelect) {
         var tr = "#" + tableid + ">tbody>tr";
         var trSelected = tr + ".success";
        
         $(tr).click(function(event) {
                    if($(this).attr('id') == undefined)
                      return;
                  //var id = $("td:first-child", $(this)).text();
                  // single-select
                  if (singleSelect) {
                      $(trSelected).removeClass('success');
                  }
                    if($("#editsuccess").hasClass('disabled'))
                  {
                    $("#editsuccess").removeClass('disabled');
                    $("#btndel").removeClass('disabled');
                    $("#detailsuccess").removeClass('disabled');
                  }
                  $(this).addClass('success');
                  $("#lsque").data("selid", $(this).attr('id'));
                  // $("#btndel").attr('formaction', '/questiondel/' + $(this).attr('id')+'/');  
         });
}
function checkspecial(e)
{
      var keynum
      // var keychar
      // var numcheck
      if(window.event) // IE
      {
            keynum = e.keyCode
      }
      else if(e.which) // Netscape/Firefox/Opera
      {
            keynum = e.which
      }
      var keychar = String.fromCharCode(keynum)
      var numcheck =/^[2-8]$/
      var result=numcheck.test(keychar)
      // alert(keynum);
      // alert(result);
      itemnumber= document.getElementById("itemnumberedit");
      if(result || keynum==8)
      {
            return true;
      }
      else
      {
            itemnumber.setCustomValidity("只能是2-8的数字");
            // Showbo.Msg.alert("只能是2-8的数字");
            return false;
      }
}
 function additem()
 {
        $("#lasttr").nextAll().remove();
        var itemnumber= document.getElementById("itemnumber");
        var inumber=parseInt(itemnumber.value);
        for(var i=1;i<=inumber;i++)
        {
         $("#chooseaddtable").append( "<tr><td style='width:130px; text-align:right;  vertical-align:middle;'><font color='#FF0000'>*</font>选项"+i+"：</td><td colspan=3><input id='item"+i+"' name='item"+i+"' maxLength='50' type='text'  required='required' class='form-control topself_input'/></td></tr>");
       }
       $("#chooseaddtable").append("<tr><td style='width:130px; text-align:right;  vertical-align:middle;''><font color='#FF0000'>*</font>题目答案：</td><td colspan=3 ><div style='text-align:left' id='resulttd'></div></td></tr>");
       for(var j=1;j<=inumber;j++)
       {
       $("#resulttd").append( '<input type="checkbox" id="option'+j+'" name="resultcheck" value="'+j+'"> 选项'+j+'&nbsp;&nbsp;&nbsp;&nbsp;'); 
       }

  }

function selectFileType(e)
{
      filename=e.value;
      var extStart=filename.lastIndexOf(".");
      var ext=filename.substring(extStart,filename.length).toUpperCase();
      if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
            Showbo.Msg.alert("图片限于png,gif,jpeg,jpg格式");
            e.value='';
      }
}
  function additemedit()
 {
       var i,j;
        var itemnumber= document.getElementById("itemnumberedit");
        var reg=/^\d+$/;
                 if(reg.test(itemnumber.value)==false)
                 {
                        itemnumber.setCustomValidity("选项数量必须是数字！");
                  }
                  else if(parseInt(itemnumber.value)<2 )
                  {
                        itemnumber.setCustomValidity("选项数量最少两个！");
                  }
                  else if(parseInt(itemnumber.value)>8)
                  {
                        itemnumber.setCustomValidity("选项数量最多八个！");
                  }
                  else
                   {
                     itemnumber.setCustomValidity("");
                     var inumber=parseInt(itemnumber.value);
                     var que = ajaxobj("/questions/chooseinfo/", "", "post", "#chooseeditform");
                     var jsondata = $.parseJSON(que);
                     $("#lasttredit").nextAll().remove();
                      var onumber = jsondata.options.length;

                if(inumber>onumber)
              {
                     for ( i=1;i<=jsondata.options.length;i++)
                  {
                  $("#chooseedittable").append( "<tr id='tr"+i+"'><td style='width:130px; text-align:right;  vertical-align:middle;'>选项"+i+"：</td><td colspan=3><input id='item"+i+"edit' name='item"+i+"edit' maxLength='50' type='text' value='"+jsondata.options[i-1][0]+"' required='required' class='form-control topself_input'/></td></tr>");
                  }
                  for( i =onumber+1;i<=inumber;i++)
                      {
                        $("#chooseedittable").append( "<tr><td style='width:130px; text-align:right;  vertical-align:middle;'>选项"+i+"：</td><td colspan=3><input id='item"+i+"edit' name='item"+i+"edit' maxLength='50' type='text' required='required' class='form-control topself_input'/></td></tr>");
                      }

                 $("#chooseedittable").append("<tr><td style='width:130px; text-align:right;  vertical-align:middle;''>题目答案：</td><td colspan=3 ><div style='text-align:left' id='resulttdedit'></div></td></tr>");
                 for ( j=1;j<=inumber;j++)
                 {
                     $("#resulttdedit").append( '<input type="checkbox" id="option'+j+'edit" name="resultcheck" value="'+j+'"> 选项'+j+'&nbsp;&nbsp;&nbsp;&nbsp;'); 
                 }

                   for (var k=1;k<=jsondata.options.length;k++)
                   {
                      if(jsondata.options[k-1][1]==1)
                     {
                       $("#option"+k+"edit").attr('checked','true');
                      }

                      }

               }
               else  if(inumber<=onumber)
               {
                   for ( i=1;i<=inumber;i++)
                  {
                  $("#chooseedittable").append( "<tr><td style='width:130px; text-align:right;  vertical-align:middle;'>选项"+i+"：</td><td colspan=3><input id='item"+i+"edit' name='item"+i+"edit' maxLength='50' type='text' value='"+jsondata.options[i-1][0]+"' required='required' class='form-control topself_input'/></td></tr>");
                  }
                   $("#chooseedittable").append("<tr><td style='width:130px; text-align:right;  vertical-align:middle;''>题目答案：</td><td colspan=3 ><div style='text-align:left' id='resulttdedit'></div></td></tr>");
                 for ( j=1;j<=inumber;j++)
                 {
                     $("#resulttdedit").append( '<input type="checkbox" id="option'+j+'edit" name="resultcheck" value="'+j+'"> 选项'+j+'&nbsp;&nbsp;&nbsp;&nbsp;'); 
                 }
               }
                  for (var m=1;m<=inumber;m++)
                   {
                      if(jsondata.options[m-1][1]==1)
                     {
                       $("#option"+m+"edit").attr('checked','true');
                      }

                      }
                    
                   }
    }



function submitformedit()
  {
    if($("input[name='resultcheck']:checkbox:checked").size() == 0)
    {
      Showbo.Msg.alert("至少选择一个正确答案！");
      return false;
    }else if(document.getElementById('editpic').value.length > 30){
            Showbo.Msg.alert("图片文件名长度必须小于30！");
            return false;
      }else{
      var preid = $("#lsque").data("selid");
   
      var editurl="/questions/chooseedit/"+preid+'/';
      //alert(editurl);
       document.getElementById("chooseeditform").action=editurl;
     
      // document.getElementById("teachereditform").submit();
      return true;
    }
   }

  function edit()
{
    document.getElementById('editpic').value = '';
   $("#lasttredit").nextAll().remove();
    var preid = $("#lsque").data("selid");
    if(preid == "0")
    {
        return false;
    }

    $("#choid").val(preid);

    var que = ajaxobj("/questions/instartexam/", "", "post", "#chooseeditform");
    var jsondata = $.parseJSON(que);
    if(jsondata.cando=="false"){
            Showbo.Msg.alert("您没有权限编辑该题!");
            return;
    }else if(jsondata.result==1){
            Showbo.Msg.alert("该题目已经在开启的竞赛中,不能编辑");
            return;
    }

    var que = ajaxobj("/questions/chooseinfo/", "", "post", "#chooseeditform");
    var jsondata = $.parseJSON(que);
    $("#qidedit").val(jsondata.qid);
    $("#qtitleedit").val(jsondata.qtitle);
    $("#qscoreedit").val(jsondata.qscore);
    $("#choosecontentedit").val(jsondata.content);
    $("#itemnumberedit").val(jsondata.options.length);
    cp = jsondata.picdir;
    if(cp){
      img1.setAttribute('src', '/'+cp);
      document.getElementById('editpic').parentNode.appendChild(img1)
     } else {
      if(img1.parentNode){
        document.getElementById('editpic').parentNode.removeChild(img1)
      }
     }
    for (var i=1;i<=jsondata.options.length;i++)
    {
        
            $("#chooseedittable").append( "<tr><td style='width:130px; text-align:right;  vertical-align:middle;'><font color='#FF0000'>*</font>选项"+i+"：</td><td colspan=3><input id='item"+i+"edit' name='item"+i+"edit' maxLength='50' type='text' value='"+jsondata.options[i-1][0]+"' required='required' class='form-control topself_input'/></td></tr>");
         
     }
    $("#chooseedittable").append("<tr><td style='width:130px; text-align:right;  vertical-align:middle;''><font color='#FF0000'>*</font>题目答案：</td><td colspan=3 ><div style='text-align:left' id='resulttdedit'></div></td></tr>");
    for (var j=1;j<=jsondata.options.length;j++)
      {
                     $("#resulttdedit").append( '<input type="checkbox" id="option'+j+'edit" name="resultcheck" value="'+j+'"> 选项'+j+'&nbsp;&nbsp;&nbsp;&nbsp;'); 
    }
    for (var k=1;k<=jsondata.options.length;k++)
    {
      if(jsondata.options[k-1][1]==1)
      {
        $("#option"+k+"edit").attr('checked','true');
      }

    }
    $('#myModal1').modal('show');
    
}

function submitdelformedit()
{
      var preid = $("#lsque").data("selid");

      var jresult = ajaxobj("/questions/checkquedel/"+preid+"/", "", "post", "");
      var jsonresult = $.parseJSON(jresult);
      if(jsonresult.cando=="false"){
            Showbo.Msg.alert("您没有权限删除该题!");
            return;
    }else if(jsonresult.result != '0')//被试卷使用
      {
            Showbo.Msg.alert("该题目已被添加到试卷中，删除无效！");
            return;
      }
      
    Showbo.Msg.oncallback = submitdelformeditcallback;
    Showbo.Msg.confirm("确定删除吗？");
}
  function submitdelformeditcallback()
  {
      var preid = $("#lsque").data("selid");
     
            if(preid!=0)
            {
              var delurl="/questions/choosedel/"+preid+'/';
              //alert(editurl);
              document.getElementById("questionform").action=delurl;
              document.getElementById("questionform").submit();
            }
   }  

function mclear()
{
      $("#lasttr").nextAll().remove();
      $("#qid").val('');
      $("#qtitle").val('');
      $("#qscore").val('');
      $("#itemnumber").val('');
      $("#choosecontent").val('');
      $("#addpic").val('');
}

function checkqid(){
      var qid=document.getElementById("qid");
      var qid=document.getElementById("qid");
      var judgeqid;
      var que = ajaxobj("/questions/qidcheck/", "", "post", "#chooseaddform");
      var jsondata = $.parseJSON(que);
      judgeqid=jsondata.judgeqid;
      var reg=/^[A-Za-z0-9]+$/;
      if(reg.test(qid.value)==false)
            qid.setCustomValidity("只能输入数字或字母");
      else if(judgeqid==1)
            qid.setCustomValidity("已存在的编号!");
      else
            qid.setCustomValidity("");
    }


function checkb(){
      if($("input[name='resultcheck']:checkbox:checked").size() == 0)
      {
            Showbo.Msg.alert("至少选择一个正确答案！");
            return false;
      }else if(document.getElementById('addpic').value.length > 30){
            Showbo.Msg.alert("图片文件名长度必须小于30！");
            return false;
      }else{
            return true;
      }
}
function checkqidedit()
{
     var qid=document.getElementById("qidedit");
     var judgeqid;
     var que = ajaxobj("/questions/qidcheck/", "", "post", "#chooseeditform");
     var jsondata = $.parseJSON(que);
     judgeqid=jsondata.judgeqid;

    if(judgeqid==1)
          qid.setCustomValidity("已存在的编号!");
    else
          qid.setCustomValidity("");
}
function checkitemnnum()
{
       var sc = document.getElementById("itemnumber");
       var reg=/^\d+$/;
       if(reg.test(sc.value)==false)
          sc.setCustomValidity("只能是数字!");
        else if (parseInt(sc.value)<=0 || parseInt(sc.value)>10)
          sc.setCustomValidity("分值大于0小于或等于10!");
        else
          sc.setCustomValidity("");
}
       function checkscore(){
                 var sc = document.getElementById("qscore");
                 var reg=/^[1-9][0-9]*$/;
                 if(reg.test(sc.value)==false)
                    sc.setCustomValidity("非0开头的正整数!");
                  else if (parseInt(sc.value)<=0 || parseInt(sc.value)>100)
                    sc.setCustomValidity("分值大于0小于或等于100!");
                  else
                    sc.setCustomValidity("");
    }
    function checkscoreedit(){
                 var sc = document.getElementById("qscoreedit");
                 var reg=/^[1-9][0-9]*$/;
                 if(reg.test(sc.value)==false)
                    sc.setCustomValidity("非0开头的正整数!");
                else if (parseInt(sc.value)<=0 || parseInt(sc.value)>100)
                  sc.setCustomValidity("分值大于0小于或等于100!");
                  else
                    sc.setCustomValidity("");
    }

var img1 = document.createElement('img');
img1.style.width='100px';
img1.style.height='30px';

function details(){
    $("#lasttrdetail").nextAll().remove();
    var preid = $("#lsque").data("selid");
    if(preid == "0")
    {
        return false;
    }

    $("#choiddetail").val(preid);

    var que = ajaxobj("/questions/chooseinfo/", "", "post", "#choosedetailform");
    var jsondata = $.parseJSON(que);
    $("#qiddetail").val(jsondata.qid);
    $("#qtitledetail").val(jsondata.qtitle);
    $("#qscoredetail").val(jsondata.qscore);
    $("#choosecontentdetail").val(jsondata.content);
    cp = jsondata.picdir;
    if(cp){
      img1.setAttribute('src', '/'+cp);
      document.getElementById('choosecontentdetail').parentNode.appendChild(img1);
     }else{
      if(img1.parentNode){
        document.getElementById('choosecontentdetail').parentNode.removeChild(img1);
      }
     }
    $("#itemnumberdetail").val(jsondata.options.length);
    
     for (var i=1;i<=jsondata.options.length;i++)
    {
         
            $("#choosedetailtable").append( "<tr><td style='width:130px; text-align:right;  vertical-align:middle;'>选项"+i+"：</td><td colspan=3><input id='item"+i+"detail' name='item"+i+"detail' maxLength='50' type='text' value='"+jsondata.options[i-1][0]+"' readOnly class='form-control topself_input'/></td></tr>");
          
     }
    $("#choosedetailtable").append("<tr><td style='width:130px; text-align:right;  vertical-align:middle;''>题目答案：</td><td colspan=3 ><div style='text-align:left;pointer-events: none;' id='resulttddetail'></div></td></tr>");
    for (var j=1;j<=jsondata.options.length;j++)
      {
                     $("#resulttddetail").append( '<input type="checkbox" id="option'+j+'detail"  name="resultcheck" value="'+j+'" > 选项'+j+'&nbsp;&nbsp;&nbsp;&nbsp;'); 
     }
        
    for (var k=1;k<=jsondata.options.length;k++)
        {
          if(jsondata.options[k-1][1]==1)
         {
          $("#option"+k+"detail").attr('checked','true');
         }

      }
    
              $('#chooseDetail').modal('show');
               
    }

</script>
{% endblock %}