{% extends "templates/index.html" %}
<!-- 继承自templates/index.html的模板 -->
{% load i18n %}
<!-- 国际化 -->
{% load staticfiles %}
{% block title %}上传工具{% endblock %}

{% block css %}   
{% endblock %}

{% block script %}
{% endblock %}
{% block maincontent %}{% endblock %}
{% block link %}
<div style="width:100%;height:80px;">
  <a href="/index/"><img src='/statics/images/Left_Round.png'  style="padding-bottom: 8px;"/></a>&nbsp; 
  <span style="font-size:28px;color:#fff;">上传工具</span>
</div>
{% endblock %}
{% block content %}
<html>
  <title>上传工具</title>

  <!-- 显示页面 -->
  <form id='toolform' action="/tools/" method='get' >
    <!--    {% csrf_token %} 
       针对POST类型出现403错误信息使用此方法，get类型不需要
     -->  
    <div class="bs-docs-section">
      <table width="100%">
        <tr>
          <td >
            <div style="text-align:left;">
              <button type="button" class="btn btn-primary" data-target="#addModal" data-toggle="modal" title="添加工具" onclick='mclear()'><span class="glyphicon glyphicon-plus"></span></button>

              <button type="button" class="btn btn-primary disabled"  onclick='edit()' title="编辑工具" data-toggle="modal" id='tooledit_button'><span class="glyphicon glyphicon-pencil"></span></button>

              <button id="tooldel_button" type="submit" class="btn btn-danger disabled" title="删除工具" onclick='return submitdelformedit()'><span class="glyphicon glyphicon-remove"></span></button>

            </div>
          </td>

          <td align="right">
            <div style="text-align:right;">
              <input  id='querytext' name='querytext' type="text" class="form-control topself_input" placeholder="请输入名称、说明关键字"  style="width:185px; display:inline;" value="{{toolselect}}" />
              <button id="btnquery" type="submit" title="查找工具" formaction="/tools/" class="btn btn-danger">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-body" style="padding-left:0px; padding-right:0px;">
      <table id="showtooltable" class="table table-striped topsec_tabletop table-hover" data-selid="0" >
        <!-- 自定义data的delis属性值为‘0’ -->
          <tr>
            <th width='25%'>名称</th>
            <th width='25%'>说明</th>
            <th width='25%'>备注</th>
            <th width='15%'>上传时间</th>
            <th width='10%'>下载</th>
          </tr>
          {% for show_tool in tool_list %}
          <tr  id="{{show_tool.id}}" >
            <td title={{show_tool.toolname}}>{{show_tool.toolname|truncatechars:20}}</td>
            <td title={{show_tool.toolmessage}}>{{show_tool.toolmessage|truncatechars:20}}</td>      
            <td title={{show_tool.toolinformation}}>{{show_tool.toolinformation|truncatechars:20}}</td>
            <td>{{show_tool.toolcreatetime|date:"Y-m-d H:i:s"}}</td>
            {%if show_tool.toolfile %}
            <td>
              <a id="download" href = "/document/uploadtools/{{show_tool.toolfile}}" >下载</a>
            </td>
            {%else%}
            <td>--</td>
            {% endif %}
          </tr>
          {% endfor %}  

      </table>
        <tr>
          <td colspan="8" >
            <div class="flickr">
              {% if tool_list.has_previous %}
                <a href="?page={{ tool_list.previous_page_number }}{% ifnotequal toolselect '' %}&toolselect={{toolselect}}{% endifnotequal %}">上一页</a>
              {% else %}
                <span>上一页</span>
              {% endif %}
              <span>
                {% for p in page_range %}

                  {% ifequal p tool_list.number %}
                    <span class="current">{{p}}</span>
                  {% else %}
                    <a href="?page={{p}}{% ifnotequal toolselect '' %}&toolselect={{toolselect}}{% endifnotequal %}" title="第{{p}}页">{{p}}</a>
                  {% endifequal %}

                {% endfor %}
              </span>
              {% if tool_list.has_next %}
              <a href="?page={{ tool_list.next_page_number }}{% ifnotequal toolselect '' %}&toolselect={{toolselect}}{% endifnotequal %}">下一页</a>
              {% else %}
              <span>下一页</span>
              {% endif %}
            </div>
          </td>
        </tr>
    </div>
  </form>

  <!-- 新增工具-->
  <form  id='addtool' action="/tools/tooladd/" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog"  data-backdrop="static">
      <div class="modal-dialog" >
        <div class="modal-content" style="width:600px;">
          <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="addModalLabel">添加工具</h3>
          </div>
          <div>
            <table class="table topsec_tabletop">
              <tr>
                <td style="width:100px; vertical-align:middle; text-align:right;"><font color="#FF0000">*</font>名称：</td>
                <td style="width:470px;" >
                  <input title="最多允许输入40个文字" id='toolname' name='toolname' maxLength="40" type='text' required="required" onchange="namechecktool('toolname','addtool')" class="form-control topself_input" placeholder="只允许数字、字母、汉字及（）<>《》—@_="/> 
               </td>
              </tr>             
              <tr>
                <td style="width:100px; text-align:right;   vertical-align:middle;"><font color="#FF0000">*</font>说明：</td>
                <td >
                  <input title="最多允许输入50个文字" id='toolmessage' name='toolmessage' maxLength="50" type='text' required="required"  class="form-control topself_input"/>
                </td>                 
              </tr>
              <tr>
                <td style="width:100px; vertical-align:middle; text-align:right; "><font color="#FF0000">*</font>选择文件：
                </td>
                 <td>
                  <table>
                    <tr>
                      <td style="padding:0px; width:400px;">
                        <input type="file" name="toolfile" id="toolfile" onclick="hiddenfname()"  required="required" onchange="selectFileTypeedit();getFileSize(this,'uploadbtnedit');" />

                      </td>
                      <td style="padding:0px;">
                        <button class="btn btn-primary"  id="uploadbtnedit" type="button" onclick="startUploading('/tools/toolupload/', 'prog_percent', 'curProgress',  'toolfile','addtool')" disabled="disabled"  title="上传"><span class="glyphicon glyphicon-upload"></span></button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width:130px; text-align:right; vertical-align:middle; height:30px; vertical-align:middle;" >
                  完成：
                </td>
                <td style="width:470px; height:30px; padding:10px; vertical-align:middle;">
                  <table style="width:100%; height:30px; margin:0px; padding:0px;">
                    <tr>
                      <td style="width:72%; border:0px; margin:0px; padding:0px; vertical-align:middle;">
                        <div class="progress progress-striped" style="margin:0px; padding:0px;">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="curProgress">
                          </div>
                        </div>
                      </td>
                      <td style="width:28%; border:0px; vertical-align:middle;"><div id="prog_percent" style="text-align:left;"></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr> 
              <tr>
                <td style="width:100px; text-align:right;   vertical-align:middle;">备注：</td>
                <td>
                  <input title="最多允许输入50个文字" id='toolinformation' name='toolinformation' maxLength="50" type='text'   class="form-control topself_input"/>
                </td>                 
              </tr>

            </table>
            <input id='toolfilename' name='toolfilename' type='hidden'/>
            <div class="modal-footer">
              <button class="btn btn-default" id='cancelbut' data-dismiss="modal" type="button" title='取消' onclick="cancel('toolfilename')"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-primary" id='savebutton1' type="submit" id="btnsaveimg" onclick="return checkeditinputfile()" title='保存'><span class="glyphicon glyphicon-floppy-save"></span></button>
              <button class="btn btn-default" id='resetbutton' type="button" onclick='mclear()' title='重置'><span class="glyphicon glyphicon-retweet"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- 编辑工具信息-->
  <form  id='edittoolinfo'  action="/tools/tooledit/" method='post' enctype="multipart/form-data">
    {% csrf_token %}  
    <div class="modal fade" id="toolModal1" tabindex="-1" role="dialog"  data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content" style="width:600px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">编辑工具</h3>
          </div>       
          <table class="table topsec_tabletop">
            <tr>
              <td style="width:100px; text-align:right;  vertical-align:middle;"><font color="#FF0000">*</font>名称：</td>
              <td >
                <input title="最多允许输入40个文字" id='toolname1' name='toolname' maxLength="40" type='text' required="required" onchange="namechecktool('toolname1','edittoolinfo')" placeholder="只允许数字、字母、汉字及（）<>《》—@_=" class="form-control topself_input" /> 
              </td>
            </tr>             

            <tr>
              <td style="width:100px; text-align:right;   vertical-align:middle;"><font color="#FF0000">*</font>说明：</td>
              <td>
                <input title="最多允许输入50个文字" id='toolmessage1' name='toolmessage1' maxLength="50" type='text' required="required"  class="form-control topself_input"/>
              </td>                 
            </tr>
              <tr>
                <td style="width:100px; vertical-align:middle; text-align:right; "><font color="#FF0000">*</font>选择文件：
                </td>
                 <td>
                  <table>
                    <tr>
                      <td style="padding:0px; width:400px;"><input type="file" name="toolfile" id="toolfile1" onclick="hiddenfname()" onchange="selectFileTypeedit();getFileSize(this,'uploadbtnedit1');" />
                      </td>
                      <td style="padding:0px;">
                        <button class="btn btn-primary"  id="uploadbtnedit1" type="button" onclick="startUploading('/tools/toolupload/', 'prog_percent1', 'curProgress1',  'toolfile1','edittoolinfo','true')" disabled="disabled"  title="上传"><span class="glyphicon glyphicon-upload"></span></button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width:130px; text-align:right; vertical-align:middle; height:30px; vertical-align:middle;" >
                  完成：
                </td>
                <td style="width:470px; height:30px; padding:10px; vertical-align:middle;">
                  <table style="width:100%; height:30px; margin:0px; padding:0px;">
                    <tr>
                      <td style="width:72%; border:0px; margin:0px; padding:0px; vertical-align:middle;">
                        <div class="progress progress-striped" style="margin:0px; padding:0px;">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="curProgress1">
                          </div>
                        </div>
                      </td>
                      <td style="width:28%; border:0px; vertical-align:middle;"><div id="prog_percent1" style="text-align:left;"></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr> 
            <tr>
              <td style="width:100px; text-align:right;   vertical-align:middle;">备注：</td>
              <td>
                <input title="最多允许输入50个文字" id='toolinformation1' name='toolinformation1' maxLength="50" type='text'   class="form-control topself_input"/>
              </td>                 
            </tr>
          </table>
          <input id='toolid' name='toolid' type='hidden'/>
          <input id='toolfilename1' name='toolfilename' type='hidden'/>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button" title='取消' onclick="cancel('toolfilename1')" ><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-primary" id='savebutton2' type="submit" title='保存' onclick="return checkeditinputfile()"><span class="glyphicon glyphicon-floppy-save"></span></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript">

    // 页面加载完成以后执行，相当于$(document).ready(function(){})
    $(function(){
         setfontcolor("toolform"); 
         $("#savebutton1").attr('disabled','disabled');
         $("#savebutton1").attr('disabled','disabled');
    })
    
    //清空显示内容
    function mclear()
    {         
      try {  
        document.getElementById('toolname').value = '';//更改id为toolname元素的value属性值为空
        document.getElementById('toolmessage').value = '';
        document.getElementById('toolfile').value = '';  
        document.getElementById('toolinformation').value = ''; 
        if (document.getElementById('toolfilename').value!="")
        {
           cancel("toolfilename");
        }

        $("#curProgress").width(0);    
        $("#toolfilename").val("");
        $("#toolfilename1").val("");
      } 
      catch (e){  
        $("#toolfilename").val("");
        $("#toolfilename1").val("");
      } 

    }

    // 选中事件
    setTableEvent("showtooltable", true);//执行setTableEvent方法
    function setTableEvent(tableid, singleSelect)
    {
      var tr = "#" + tableid + ">tbody>tr";//将特定id的table下的tbody子元素下的tr子元素对象赋值给tr变量
      var trSelected = tr + ".success";//tr的success属性赋值给trSelected变量

      $(tr).click(function(event) {//选取tr对象(tr是变量，不用加#)，click固定写法
        if($(this).attr('id') == undefined)//$(this):上次选取的对象的id属性的值
          return;
        if (singleSelect) {
          $(trSelected).removeClass('success');//移除success属性
        }
        if($("#tooledit_button").hasClass('disabled'))//判断id为tooledit_button元素是否存在disabled属性值
        {
          $("#tooledit_button").removeClass('disabled');//移除id为tooledit_button元素的disabled属性
          $("#tooldel_button").removeClass('disabled');
        }
        $(this).addClass('success');//选定元素(指tr)增加success属性
        $("#showtooltable").data("selid", $(this).attr('id'));
        //$("#btndel").attr('formaction', '/teacherdel/' + $(this).attr('id')+'/');  
        });
    }

    // 编辑页面显示当前项信息
    function edit()
    {
        $("#toolfilename").val("");
        $("#toolfilename1").val("");
      var preid = $("#showtooltable").data("selid");//获取ID为showtooltable的对象的selid属性值

      if(preid == "0")
      {
        return false;
      }
      $("#toolid").val(preid);

      var tea = ajaxobj("/tools/toolinfo/", "", "post", "#edittoolinfo");
      var jsondata = $.parseJSON(tea);
      $("#curProgress1").width("0%");
      document.getElementById("prog_percent1").innerHTML = '0%';
      $("#toolfile1").val("");
      $("#toolname1").val(jsondata.toolname);
      $("#toolmessage1").val(jsondata.toolmessage);
      $("#toolinformation1").val(jsondata.toolinformation);
      $('#toolModal1').modal('show');
    
    }

    // 点击取消按钮
    function cancel(filename)
    {
      if($("#"+filename).val()!="")
      {
          var tea = ajaxobj("/tools/cancel/", "", "post", "#"+filename);
          var jsondata = $.parseJSON(tea);
      }
    }

    // 删除确认提示
    function submitdelformedit()
    {

      var preid = $("#showtooltable").data("selid");
      if(preid!=0)
      {
        Showbo.Msg.oncallback = submitdelformeditcallback;
        Showbo.Msg.confirm("确定删除吗？");

        // if(confirm("确定删除吗？"))
        // {
        //   var editurl="/tooldel/"+preid+'/';

        //   $('#tooldel_button').attr('formaction', editurl);
        //   //document.getElementById("yfdel").formaction=editurl;
        //   //document.getElementById("toolform").submit();   
        // }
      }
      return false;
    }  

    function submitdelformeditcallback()  
    {
      var preid = $("#showtooltable").data("selid");
      var editurl="/tools/tooldel/"+preid+'/';

      $('#tooldel_button').attr('formaction', editurl);

      document.getElementById("tooldel_button").onclick = null;
      document.getElementById("tooldel_button").click();


     }  


    //检测添加工具是否存在重复工具名称
    function namechecktool(doc,form)
    {
      var toolname=document.getElementById(doc);

      var toolnamecheck = ajaxobj("/tools/toolnamecheck/", "", "post", "#"+form);
      // 使用Ajax方法传入路径，方法，元素id。获取返回序列化信息
      var jsondata = $.parseJSON(toolnamecheck);
      var reg=/^[a-zA-Z0-9\u4e00-\u9fa5（）<>《》—@_=]+$/;

      if(reg.test(toolname.value)==false){
        toolname.setCustomValidity("只允许数字、字母、汉字及（）<>《》—@_=");
      }
      else if(jsondata.judgename==1)
        toolname.setCustomValidity("已存在的工具名称!");       
      else
        toolname.setCustomValidity("");
    }

    function checkeditinputfile()
    {
      document.getElementById('toolfile').removeAttribute('required');
      document.getElementById('toolfile').value = '';
      document.getElementById('toolfile1').value = '';
      return true;
    }

    // 检测上传文件大小并与服务器剩余空间比较
    function getFileSize(obj,button){ 
      var objValue = obj.value;  

      // var pattern='.exe$';
      // var m=re.match(pattern,objValue.length);
      // alert(m);
      // if (m!=None)
      // {  
      //     $('#'+button).attr('disabled','disabled');
      //     Showbo.Msg.alert("不能上传exe文件");
      //     return;
      // }

      if (objValue.length>50)
      {
        $('#'+button).attr('disabled','disabled');
        Showbo.Msg.alert("上传文件名称长度不能大于50字符");
        return;
      }
      if (objValue=="") return ;  
      var fileLenth=-1; 
      try {  
          //对于IE判断要上传的文件的大小  
          var fso = new ActiveXObject("Scripting.FileSystemObject");  
          fileLenth=parseInt(fso.getFile(objValue).size);  
      } catch (e){  
          try{  
              //对于非IE获得要上传文件的大小  
               fileLenth=parseInt(obj.files[0].size);  
          }catch (e) {  
              fileLenth=-1;  
          }  
      }
      if(fileLenth!=-1){
        fileLenth=fileLenth/1048576;
      }
      var toolfile=document.getElementById("toolfile");
      var toolnamecheck = ajaxobj("/tools/toollengthcheck/", "", "post", "#addtool");
      var jsondata = $.parseJSON(toolnamecheck);
      if(fileLenth>10240)
      {
        Showbo.Msg.alert("上传文件大小超过10G限定");
        $('#'+button).attr('disabled','disabled');
      }     
        // toolfile.setCustomValidity("上传文件大小超过10G限定");
      else if(jsondata.available<20480)
      {
        Showbo.Msg.alert("磁盘空间剩余不足20G，不允许上传工具");
        $('#'+button).attr('disabled','disabled');
      }
        // toolfile.setCustomValidity("磁盘空间剩余不足20G，不允许上传工具");
      else if(jsondata.available<fileLenth)
      {
        Showbo.Msg.alert("上传文件大小超过服务器剩余空间");
        $('#'+button).attr('disabled','disabled');
      }
        // toolfile.setCustomValidity("上传文件大小超过服务器剩余空间");       
      else
      {
        toolfile.setCustomValidity("");
        $('#'+button).removeAttr('disabled','disabled');

      } 
      return fileLenth;  
    }  

    function selectFileTypeedit()
    {  
        $('#uploadbtnedit1').removeAttr('disabled','disabled');
        $('#uploadbtnedit').removeAttr('disabled','disabled');
        $("#curProgress").width(0);
    }

  function startUploading(strURL, progress_percent, currentProgress, ufile,forminfo,is_edit='false') {
    if($("#" + ufile).val() == "")
    {
      return;
    }
    $("#imagefilename").val("");
    $("#btnsavevm").attr('disabled','disabled');
    $("#btnsaveimg").attr('disabled','disabled');
    $("#resetbutton").attr('disabled','disabled');
     var file = $("#" + ufile)[0].files[0],  //文件对象
          name = file.name,        //文件名
          size = file.size,        //总大小
          succeed = 0;
    pgpercent = progress_percent;
    progress = currentProgress;
    $("#toolfilename").val(name);
    $("#toolfilename1").val(name);

    var toolname=document.getElementById(ufile);

    var toolfilecheck = ajaxobj("/tools/toolfilecheck/", "", "post", "#"+forminfo);
    var jsondata = $.parseJSON(toolfilecheck);
    if(is_edit==false)
    {
      if(jsondata.judgename==1)
      {
          Showbo.Msg.alert("已经存在相同名称");
          $("#toolfilename").val("");
          $("#toolfilename1").val("");
          return;
      }
    }
    if(jsondata.judgename==2)
    {
      Showbo.Msg.alert("已经存在同名文件");
      $("#toolfilename").val("");
      $("#toolfilename1").val("");
      return;
    }

    var shardSize = 10* 1024 *1024,     //以10MB为一个分片
        shardCount = Math.ceil(size / shardSize);   //总片数
    var m_percent=0;

    document.getElementById(pgpercent).innerHTML = '0%';
    $("#"+progress).width("0%");


      // 上传新文件
      for(var i = 0;i < shardCount;++i){
          //计算每一片的起始与结束位置
          var start = i * shardSize,
          end = Math.min(size, start + shardSize);

          //构造一个表单，FormData是HTML5新增的
          var form = new FormData();
          form.append("data", file.slice(start,end));  //slice方法用于切出文件的一部分
          form.append("name", name);
          form.append("total", shardCount);   //总片数
          form.append("index", i + 1);        //前是第几片         
          //Ajax提交
          var uploadajax = $.ajax({
            url: strURL,
            type: "POST",
            data: form,
            async: false,//异步
            processData: false,//很重要，告诉jquery不要对form进行处理
            contentType: false,  //很重要，指定为false才能形成正确的Content-Type
            success: function(){
              ++succeed;
              m_percent=Math.round((succeed)/(shardCount)*100*1)/1;// 计算结果保留整数位
              document.getElementById(pgpercent).innerHTML = m_percent+"%";
              $("#"+progress).width(m_percent+"%");

              if(m_percent==100){
                $("#btnsavevm").attr('disabled',false);
                $("#btnsaveimg").attr('disabled',false);
                $("#resetbutton").attr('disabled',false);    
                $("#savebutton1").attr('disabled',false);
                $("#savebutton1").attr('disabled',false);       
              }
            }
          });
      }
      $('#uploadbtn').attr('disabled','disabled');
      $('#uploadbtnedit').attr('disabled','disabled');      
    }

    function requestFullScreen() {
      var de = document.documentElement;
      if (de.requestFullscreen) {
       de.requestFullscreen();
      } 
      else if (de.mozRequestFullScreen) {
       de.mozRequestFullScreen();
      } 
      else if (de.webkitRequestFullScreen) {
       de.webkitRequestFullScreen();
      }
    }
  </script>
{% endblock %}
</html>